<template>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog cart-pop" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Your Cart</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pb-0">
				<div class="row cart-product mb-30">
					<div class="col-5 name-details">
						<strong>Item Name1</strong>
						<p class="mb-0 pl-2">Item sub detail</p>
						<p class="mb-0 pl-2">Item sub detail</p>
					</div>
					<div class="col-2 pl-0 pr-0">
						<div class="number">
							<span class="minus">-</span>
							<input type="text" value="1" />
							<span class="plus">+</span>
						</div>
					</div>
					<div class="col-5 text-right">
						<div class="price">
							BHD XXX.xx
						</div>
						<a href="#">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</a>
						<a href="#">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="row cart-product mb-30">
					<div class="col-5 name-details">
						<strong>Item Name</strong>
						<p class="mb-0 pl-2">Item sub detail</p>
						<p class="mb-0 pl-2">Item sub detail</p>
					</div>
					<div class="col-2 pl-0 pr-0">
						<div class="number">
							<span class="minus">-</span>
							<input type="text" value="1" />
							<span class="plus">+</span>
						</div>
					</div>
					<div class="col-5 text-right">
						<div class="price">
							BHD XXX.xx
						</div>
						<a href="#">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</a>
						<a href="#">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="row cart-product mb-30">
					<div class="col-5 name-details">
						<strong>Item Name</strong>
						<p class="mb-0 pl-2">Item sub detail</p>
						<p class="mb-0 pl-2">Item sub detail</p>
					</div>
					<div class="col-2 pl-0 pr-0">
						<div class="number">
							<span class="minus">-</span>
							<input type="text" value="1" />
							<span class="plus">+</span>
						</div>
					</div>
					<div class="col-5 text-right">
						<div class="price">
							BHD XXX.xx
						</div>
						<a href="#">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</a>
						<a href="#">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<hr>
				<h5 class="modal-title pb-30" id="exampleModalLabel">Payment Details</h5>
				<div class="row pb-30">
					<div class="col-6">
						<button type="button" class="btn btn--secondary btn-block">REDEEM
							POINTS</button>
					</div>
					<div class="col-6">
						<button type="button" class="btn btn--secondary btn-block">VOUCHER
							CODE</button>
					</div>
				</div>
				<div class="row mb-15">
					<div class="col-6">Subtotal</div>
					<div class="col-6 text-right">XXX.XX</div>
				</div>
				<div class="row mb-15">
					<div class="col-6">Tax</div>
					<div class="col-6 text-right">XXX.XX</div>
				</div>
				<div class="row mb-15 total">
					<div class="col-6"><strong>Total Amount</strong></div>
					<div class="col-6 text-right"><strong>XXX.XX</strong></div>
				</div>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn--primary btn-block">CHECKOUT</button>
			</div>
		</div>
	</div>
</div>
</template>

<script>
    export default {
        data() {
            return {
                cartItems: [],
            }
        },
		created() {
		    console.log('Component has been created!');
	    },
        mounted: function() {
			alert('=====')
            this.getCartData();
        },
        methods: {
            getCartData() {
                let _this = this;
                axios.get('/cart-json').then (function(response){
                    _this.cartItems = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
        }
    }
</script>
