<template>
	<div>
		<div class="orgo-grid-sorting row align-items-center">
			<div class="col-lg-6 col-md-6 result-count">
				<p>We found <span class="count">{{results.length}}</span> products available for you</p>
			</div>
			
			<div class="col-lg-6 col-md-6 ordering">
				<form name="sort_form" id="sort_form">
					<div class="select-box">
						<label>Sort By:</label>
						<select v-model="sort" @change="sortValue" name="sort_by" id="sort_by">
							<option value="">Default</option>
							<option value="id">Latest</option>
							<option value="name">Name</option>
							<option value="price_low_high">Price: low to high</option>
							<option value="price_high_low">Price: high to low</option>
						</select>
					</div>
				</form>
			</div>
		</div>
		<div class="row" v-if="results.length > 0">
			<div class="col-lg-3" v-for="product in results" :key=product.id>
				<div class="top-products-item">
					<div class="products-image">
						<a :href="'/menu/' + product.slug">
							<img v-if="product.images[0].media_file" :src="'/uploads/' + product.images[0].media_file" alt="image">
							<img v-else src="https://via.placeholder.com/176" alt="image">
						</a>
						<ul class="products-action">
							<li>
								<a href="javascript:void(0)" @click="addTocart(product.id)" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="flaticon-shopping-cart"></i></a>
							</li>
							<li>
								<a :href="'/menu/' + product.slug" data-tooltip="tooltip" data-placement="top" title="View">
									<i class="flaticon-search"></i>
								</a>
							</li>
						</ul>
						
					</div>

					<div class="products-content">
						<div class="name">
							<h3>
								<a :href="'/menu/' + product.slug">{{product.name}}</a>
							</h3>
						</div>
						<div class="price">
							<div v-if="product.sale_price > 0">
								<span class="new-price">{{currency}}{{product.sale_price}}</span>
								<span class="old-price">{{currency}}{{product.price}}</span>
							</div>
							<div v-else>
								<span class="new-price">{{currency}}{{product.price}} </span>
							</div>
						</div>
						<div class="rating">
							<div id="star-readonly" class="star-rating" :data-score="product.averageRating" ></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<pagination-component  :pagination="products"
                  @paginate="getProducts()"
                  :offset="8">
		</pagination-component>
	</div>
</template>

<script>
    export default {
        props:['products','currency'],
        data(){
            return {
                results:'',
                sort:'',
            }
        },
        methods:{
            loadProducts(){
			   console.log('load data')
               this.results = this.products
            },
			sortValue(){
               axios.post('/filter',{ sort:this.sort })
               .then(response => ( 
					this.results = response.data.products.data
					)
				)
				//this.loadProducts();
			},
			addTocart(productId){
				axios.post('/add-to-cart',{
						"productId": productId
				}).then (function(response){
					var cartCount = response.data.cartCount;
					$('#total_cart_count').html(cartCount);
					$.notify(
					{
						message: 'Item added to the cart successfully',
						icon: 'flaticon-shopping-cart'
					},
					{
						type: 'success',
						allow_dismiss: true,
						placement: {
							from: "top",
							align: "right"
						}
					});
				}).catch(function (error) {
					$.notify("Something went wrong!")
				});
			},
			getProducts() {
				axios.get('/shop/pagination?page='+this.products.current_page)
				.then((response) => {
					this.results = response.data.products.data;
					//console.log(this.results )
				})
				.catch(function (error) {
					console.log(error)
				});
			}
        },
        mounted() {
			//this.loadProducts();
			//console.log(this.products)
            //console.log('console filter component')
			
			// mapping each item of products to merge averageRating calculated
			this.results = this.products.data.map(product => {
			  // reviews summation
			  const totalRatings = product.reviews.reduce((acc, { rating }) => acc += Number(rating), 0)
			  const averageRating = totalRatings/product.reviews.length
			  // returning the merge of the current product with averageRating
			  return {...product, averageRating}
			})
			
			//this.results.data = listing
        }
    }
</script> 
