<template>
	<div class="col-lg-12 col-md-12" v-if="pagination.last_page > 1">
		<div class="pagination-area">
			
			<a v-if="current_page == 1" href="javascript:void(0)"  class="page-numbers disabled">
				<i class="flaticon-left-arrow"></i>
			</a>
			<a v-else href="javascript:void(0)" v-on:click.prevent="changePage(current_page - 1)" class="page-numbers prev">
				<i class="flaticon-left-arrow"></i>
			</a>
			
			<span v-for="page in pagesNumber">
				<span v-if="current_page == page" class="page-numbers current" aria-current="page">{{ page }}</span>
				<span v-else>
					<a href="javascript:void(0)" class="page-numbers" v-on:click.prevent="changePage(page)">{{ page }}</a>
				</span>
			</span>
		
			<a v-if="current_page < pagination.last_page" href="javascript:void(0)" v-on:click.prevent="changePage(current_page + 1)" class="page-numbers next">
				<i class="flaticon-right-arrow"></i>
			</a>
			<a v-else href="javascript:void(0)" v-on:click.prevent="changePage(pagination.last_page)" class="page-numbers next">
				<i class="flaticon-right-arrow"></i>
			</a>
		</div>
	</div>

    
</template>
<script>
  export default{
      props: {
      pagination: {
          type: Object,
          required: true
      },
      offset: {
          type: Number,
          default: 8
      }
    },
	data(){
		return {
			current_page : 1
		}
	},
    computed: {
      pagesNumber() {
        if (!this.pagination.to) {
          return [];
        }
        let from = this.pagination.current_page - this.offset;
        if (from < 1) {
          from = 1;
        }
        let to = from + (this.offset * 2);
        if (to >= this.pagination.last_page) {
          to = this.pagination.last_page;
        }
        let pagesArray = [];
        for (let page = from; page <= to; page++) {
          pagesArray.push(page);
        }
          return pagesArray;
      }
    },
    methods : {
      changePage(page) {
        this.pagination.current_page = page;
        this.current_page = page;
		console.log(this.current_page)
        this.$emit('paginate');
      }
    }
  }
</script>